a {
  color: #f6f6f6;
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif;
  color: #f6f6f6;
  font-weight: 200;
}

h1 {
  margin: 0px;
}

h3 {
  margin: 0px;
}
h6 {
  margin: 15px;
  font-size: 20px;
}

p {
  margin: 25px 0px 0px;
}

.active {
  color: #f4f9f9;
  cursor: default;
  font-weight: bold;
}

.weather-box {
  box-sizing: border-box;
  box-shadow: 0px 2px 2px 1px rgba(102, 101, 101, 0.2);
  max-width: 560px;
  margin: 20px 0;
  padding: 20px;
  background-color: #94b5c0;
}

.main-weather-icon {
  margin: 15px 0px -15px;
}

.weather-icon {
  width: 50%;
  height: 50%;
}

.btn-secondary {
  background-color: #f6f6f6;
  color: #276678;
  border-color: #f6f6f6;
  border-radius: 0.25rem;
}

.btn-info {
  background-color: #276678;
  color: #f6f6f6;
  border-color: #f6f6f6;
  border-radius: 0.25rem;
}

.btn-secondary:hover {
  background-color: #aaaaaa;
  color: #f6f6f6;
  cursor: pointer;
  border-color: #f6f6f6;
}
.btn-info:hover {
  background-color: #aaaaaa;
  color: #276678;
  cursor: pointer;
  border-color: #aaaaaa;
}

.link:hover {
  color: #276678;
}

.active:hover {
  text-decoration: none;
  color: #f6f6f6;
}
